.note {
    z-index: 998;
    position: absolute;
    padding: 5px;
    border: transparent;
}

.note:hover {
    z-index: 998;
    border: transparent;
    padding: 10px;
    transition-duration: 0.7s;
}

.label {
    margin-top: 10px;
    width:40px;
    height:27px;
    z-index: 1000;
    border-radius: 12px;
    border: transparent;
    transition-duration: 0.4s;
}

.label:hover {
    box-shadow: black 0.2px 0.2px 10px;
    transition-duration: 0.4s;
}

.inline {
    z-index: 999;
    display: inline-flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
    position: fixed;
    right: 50px;
    top: 100px;
    width: 50px;
    height: 400px;
    border-radius: 20px;
    box-shadow: darkgrey 1px 1px 10px;
    background-color: rgb(227, 245, 255);
    transform: scale(1);
    transition: box-shadow 0.6s, transform 0.5s;
}

.inline:hover{
    z-index: 999;
    width: 50px;
    height:400px;
    border-radius: 20px;
    box-shadow: darkgrey 5px 5px 20px;
    background-color: rgb(227, 245, 255);
    transition: box-shadow 0.5s;
}
